<%# locals: (phone_call:, status:) %>
<div class="glass-morphism rounded-xl p-4 <%= "todo-enter" if status == "ringing" %>" id="call-<%= phone_call.sid %>">
  <header class="flex justify-between align-middle">
    <% if phone_call.from %>
      <h2 id="call-<%= phone_call.sid %>-header" data-turbo-permanent class="text-lg font-semibold text-gray-800 mb-4">From: <%= phone_call.from.sub(/(^\+\d{2})\d+(\d{4})$/, '\1****\2') %></h2>
    <% else %>
      <h2 id="call-<%= phone_call.sid %>-header" data-turbo-permanent class="text-lg font-semibold text-gray-800 mb-4">Outgoing call</h2>
    <% end %>
    <span class="call-status call-status--<%= status %>"><%= status %></span>
  </header>
  <div id="call-<%= phone_call.sid %>-logs" data-turbo-permanent>
  </div>
</div>
