<%= turbo_frame_tag dom_id(todo) do %>
  <li class="flex items-center justify-between gap-4 p-3 rounded-lg hover:bg-white/50 transition-colors duration-200">
    <div class="flex items-center gap-3">
      <%= form_for todo do |f| %>
        <%= f.checkbox :completed, onchange: "this.form.requestSubmit();", class: "h-5 w-5 rounded-lg border-gray-300 text-indigo-600 focus:ring-indigo-500 transition-colors duration-200" %>
        <span class="text-gray-700">
          <%= todo.description %>
        </span>
      <% end %>
    </div>
    <div class="flex items-center gap-2">
      <%= button_to edit_todo_path(todo), method: :get, form: {data: {turbo_frame: "dialog"}}, class: "p-1.5 rounded-lg text-gray-500 hover:text-gray-700 hover:bg-white/50 transition-colors duration-200" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
        </svg>
      <% end %>
      <%= button_to todo_path(todo), method: :delete, class: "p-1.5 rounded-lg text-red-500 hover:text-red-700 hover:bg-white/50 transition-colors duration-200", data: {turbo_confirm: "Are you sure to delete this ToDo item?"} do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
        </svg>
      <% end %>
    </div>
  </li>
<% end %>
